.wrapper {
  width: 100%;
}

.media {
  position: relative;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.thumbnail {
  padding-bottom: 132.6530612244898%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;

  video {
    width: 100%;
    height: 100%;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  gap: 6px;
  align-items: center;
  width: 100%;
  color: white;
  background: linear-gradient(180deg, rgba(22, 24, 35, 0.0001) 2.92%, rgba(22, 24, 35, 0.5) 98.99%);
  padding: 67px 13px 17px;
  pointer-events: none;
}

.title {
  height: 28px;
  padding: 2px 4px 0px;
  overflow: hidden;

  .text {
    font-size: 1.6rem;
    letter-spacing: 0.03px;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
