// Tabs
.feed-tab {
  position: relative;
  display: flex;
  justify-content: stretch;
  height: 44px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 8px;

  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 6px;
    padding: 0 32px;
    color: rgb(115, 116, 123);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: -0.028px;
    cursor: pointer;

    &.active {
      color: rgb(22, 24, 35);
    }
  }
}

.line {
  position: absolute;
  width: 100px;
  height: 2px;
  background: rgba(22, 24, 35, 1);
  bottom: -1px;
  transition: transform 0.3s;
}

// Videos
.feed-video {
  display: grid;
  grid-gap: 24px 16px;
  grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
}

.no-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 490px;

  .icon {
    fill-opacity: 0.34;
  }

  h3 {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 700;
    margin-top: 24px;
  }

  p {
    line-height: 2.1rem;
    letter-spacing: 0.03px;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.75);
    margin-top: 8px;
  }
}
