@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary: #fe2c55;
  --secondary: rgba(22, 24, 35, 0.12);
  --text-color: rgb(22, 24, 35);

  --font-family: 'IBM Plex Sans', sans-serif;

  --default-layout-header-height: 60px;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}

// Scrollbar
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;

  &-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
  }

  &-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

img,
svg,
video {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

// Custom Tippy tooltip
body .tippy {
  &-box {
    background-color: rgba(84, 84, 84, 0.92);
    line-height: 2.2rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;

    &[data-placement^='bottom'] > .tippy-arrow:before {
      top: -8px;
    }
  }

  &-content {
    padding: 8px 9px;
  }

  &-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
}
