$text-color: rgb(22, 24, 35);

.wrapper {
  display: flex;
  align-items: center;
  padding: 9px 16px;
  cursor: pointer;

  &:hover {
    background-color: rgba($color: $text-color, $alpha: 0.03);
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  flex: 1;
  margin-left: 12px;
}

.username {
  font-size: 1.6rem;
  letter-spacing: 0.03px;
  line-height: 2.1rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.check {
  font-size: 1.4rem;
  color: #20d5ec;
  margin-left: 6px;
}

.name {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: rgba($color: $text-color, $alpha: 0.5);
}
